body,
h1,
h2,
h3 {
  font-family: 'Walter Turncoat', cursive;
}

#game-display {
  display: none;
}

p#letters-guessed {
  text-transform: uppercase;
}

.letter {
  cursor: pointer;
}

#img-well,
#countdown-image {
  max-height: 150px;
  margin: auto;
}
